@font-face {
  font-family: 'Avenir';
  src: url('../../font/Avenir Next.ttc');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir2';
  src: url('../../font/Avenir.ttc');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir3';
  src: url('../../font/Avenir Next Condensed.ttc');
  font-weight: 700;
  font-style: bold;
}
