
:root { 
  --white: #ffffff; 
  --grey: #686868; 
  --black: #000000; 
  --red: #d22f26; 
  --pink: #F865B0;
  --text-decoration: none;
  --list-styles: none;
  --margin: 0;
  --padding: 0;
  --border1:  2px solid red ;
  --border2: 2px solid purple;
  --border3: 2px solid white;
  --border4: 2px solid rgb(253, 105, 7);
  --border5: 2px solid rgb(7, 253, 69);
  --subtitle1: 700 1.09375rem/normal Avenir Next; 
  --headline1: 700 1.708984375rem/normal Avenir Next; 
  --button: demi bold 0.699999988079071rem/normal Avenir Next; 
  --body1-demibold: demi bold 0.875rem/1.5rem Avenir Next; 
  --body1-regular: 400 0.875rem/1.5rem Avenir Next; 
  --body2-demibold: demi bold 0.699999988079071rem/normal Avenir Next; 
  --body2-regular: 400 0.699999988079071rem/normal Avenir Next; 
}

body {
 background: var(--black);
 color: var(--white);
 /* margin: var(--margin); */
 margin: 0;
 padding: 0;
 font-family: Netnet1;
  
}

/* NAVEGATION */

.header{
  /* border:  var(--border2);  */
  padding: 0px 10px 60px;
  position: relative;
  z-index:2; /* Pasa encima del otro elemento */
  background-image: linear-gradient(to bottom,  rgba(102, 102, 102, 0.287) 0%, black 50%, rgba(0,0,0,.5) 95% ,  transparent 100%);
}

.navigation {
  padding: var(--padding);
  margin: var(--margin);
  /* border: var(--border) ; */
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  justify-content: space-around;
}

.navigation-item {
  list-style: var(--list-styles); 
  /* border: 1px solid yellow ; */
  text-align: center;
}

a {
  color: var(--white);
  text-decoration: var(--text-decoration); 
}

/* END NAVEGATION */

/* IMG  & featured*/
.featured {
  margin-top: -80px;
  position: relative;
  overflow:hidden;
}
.featured img {
  height: fit-content;
  width: 100%;
}

.tags {
  /* border: var(--border2); */
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  /* SOLUTION*/
  padding: 0;
  margin: 0;
}

.tag {
  /* border: var(--border4); */
  display:flex;
  
  
}

.tag::before {
  content: "•";
  margin-right: 5px;
  position:relative;
  top: 0.8px;
}
.tag:first-child::before {
  display: none;
}

.featured-details {
  /* border: var(--border4); */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image:linear-gradient(to top, black 0%, black 40%, transparent 100%);
}
.featured-actions {
  /* height:100px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1em;
}
.button {
  /*border: var(--border2);
  */background: white;
  display: flex;
  align-items: center;
  padding: 6px 1em 6px .5em;
  border-radius:4px;
  border:none;
  cursor: pointer;
  font-family: netnet2;
}

.button::before {
  /* border: var(--border4); */
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.button-secondary {
  /* border: var(--border4); */
  background: none;
  color: white;
  font-size: 1.1em;
  min-width: 100px;
  cursor: pointer;
  border: none;
}

.button-secondary::before {
  display: block;
  /* border: var(--border2); */
  content: '';
  width: 25px;
  height: 25px;
  margin: auto;
  margin-bottom: 5px;
}
/* END IMG & featured*/

/* ICONS */

.icon-plus::before {
  background: url(../icons/plus.svg)
}
.icon-play::before {
  background: url(../icons/play.svg)
}
.icon-info::before {
  background: url(../icons/info.svg)
}

/* END ICONS */


/* Main */

main {
  /* border: var(--border4); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  /* border: var(--border5); */
  padding: 0 1em;
}

.list-content {
  /* border: var(--border4); */
  /* display: flex; */
  white-space: nowrap;
  overflow-x: auto;
}
.list-item {
  display:inline-block;
  margin-left: 10px;
}

.list-item:first-child {
  margin: 0;
}
/* END Main */

/* START CREDITS */

.credits {
  font-family: Avenir;
  /* background: var(--grey) ; */
  font-size: 11px;
  color: var(--white);
  padding: 0.5rem 0;
  text-align: center;
}
.credits a {
  color: var(--white);
  text-decoration: none;
}

/* END CREDITS */

/* FOOTER */
.footer {
  border: var(--border3);
  position: fixed;
  left: 0;
  right: 0;
}
/* END FOOTER */